@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: theme('colors.gray.950');
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  body {
    background-color: theme('colors.gray.950');
    overscroll-behavior: none;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
